<div class="widget" *ngIf="gradient">
  <h3>
    Gradient Editor
  </h3>
  <div class="gradient-root">
    <div class="gradient" [style.background-image]="gradientStyle()">
      <div *ngFor="let stop of gradient.stops; let i = index"
        class="gradient-stop"
        [class.selected]="stop === curStop"
        [style.left]="stopPositionStyle(stop)"
        (mousedown)="handleStopClickDown($event, i)"></div>
    </div>
    <div class="gradient-preview" *ngIf="range">
      <div *ngFor="let pidx of range.getIndices()" [style.background-color]="previewColourStyle(pidx)"></div>
    </div>
  </div>
  <div class="sbs">
    <div class="">
      <button (click)="addStop()">+</button><button (click)="removeStop()">-</button>
      <select #stopList *ngIf="gradient.stops" (change)="setCurStopIdx(stopList.selectedIndex)">
        <option *ngFor="let stop of gradient.stops; let i = index" [selected]="i === curStopIdx">{{stop}}</option>
      </select>
      <input #stopPos type="number" step=".01" [value]="curStopPos" (change)="handleStopPosChange(stopPos.value)" min="0" max="1">
      <button>▲</button><button>▼</button>
    </div>
    <div class="">
      Stop Colour: <input [(colorPicker)]="curColour" (colorPickerChange)="setCurStopColor(curColour)" [style.background]="curColour"/>
    </div>
  </div>
  <div class="operations">
    <button (click)="applyGradient()">Apply</button>
  </div>
</div>
