.gradient {
  height: 30px;
  border: 1px solid black;
  position: relative;
}
.gradient-stop {
  border: 1px solid black;
}

.gradient-preview {
  display: flex;
}
.gradient-preview > * {
  flex-grow: 1;
  height: 30px;
  margin: 2px;
}