.gradient {
  height: 30px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}
.gradient-stop {
  position: absolute;
  top: 0;
  cursor: pointer;
  width: 3px;
  height: 100%;
  border: 1px solid black;
}

.gradient-preview {
  display: flex;
}
.gradient-preview > * {
  flex-grow: 1;
  height: 30px;
  margin: 2px;
}
