.gradient-root {
  width: 90%;
  margin: 0 auto;
}
.gradient {
  height: 30px;
  border: 1px solid black;
  position: relative;
  overflow: visible;
}

@keyframes stopSelected {
  from {
    background-color: #fff;
    border-color: #000;
  }
  to {
    background-color: #000;
    border-color: #fff;
  }
}

.gradient-stop {
  position: absolute;
  top: 0;
  cursor: pointer;
  width: .5%;
  height: 100%;
  border-width: 1px;
  border-style: dotted;
  border-color: #000;
  background-color: #fff;
}
.gradient-stop.selected {
  animation: .3s ease-in-out 0s infinite alternate forwards running stopSelected;
}

.gradient-preview > * {
  flex-grow: 1;
  height: 30px;
  margin: 2px;
}

.colour {
  position: relative;
}

.colour-info {
  position: absolute;
  top: 100%;
  z-index: 5;
  justify-content: center;
  width: 100%;
}

.colour-info-display {
  background-color: #000;
  color: #FFF;
  padding: 4px;
  border-radius: 7px;
}

.colour-info-display::before {
  content: "";
  background-color: #000;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -5px;
  z-index: -5;
}

.colour > .colour-info {
  display: none;
}

.colour:hover > .colour-info {
  display: flex;
}
