<div class="pallist widget" *ngIf="colOp.numPals() >= 1">
  <h3>Palette Navigator</h3>
  <div>Palette: <input type="number"
    class="narrowInput"
    [(ngModel)]="colPalIndex"
    (change)="setPalIndex(colPalIndex)"
    min="1" [max]="colOp.numPals()">/{{colOp.numPals()}}</div>
  <div>
    <span class="button firstPal" (click)="firstPal()"></span>
    <span class="button prevPal" (click)="prevPal()"></span>
    <span class="button remPal" (click)="removePal()">-</span>
    <span class="button addPal" (click)="addPal()">+</span>
    <span class="button nextPal" (click)="nextPal()"></span>
    <span class="button lastPal" (click)="lastPal()"></span>
  </div>
</div>
