<div class="dragon-drop"
    (dragenter)="handleDragEnter($event)"
    (dragover)="handleDragOver($event)"
    (drop)="dropPalette($event)">
  <label>
    <div>Select a PLAYPAL, or drag and drop one here.</div>
    <div>
      <input type="file" (change)="selectPalette($event)">
    </div>
  </label>
</div>
<div class="palmain">
  <div class="palette">
    <div *ngFor="let colour of palColours" class="palcolour" [ngStyle]="colour.getStyles()">#{{colour.index}}</div>
  </div>
  <div class="ranges">
    <div>
      <h3>Colour Ranges</h3>
      <ol>
        <li>Range list</li>
        <li>Range list</li>
        <li>Range list</li>
        <li>Range list</li>
      </ol>
    </div>
    <div>
      <h3>Translations</h3>
    </div>
  </div>
  <div class="pallist" *ngIf="collection">
    <div>Palette: <input type="number"
      class="palIndexInput"
      [(ngModel)]="colPalIndex"
      (change)="setPalIndex(colPalIndex)"
      min="1" max="{{collection.palettes.length}}">/{{collection.palettes.length}}</div>
    <div>
      <span class="button firstPal" (click)="firstPal()"></span>
      <span class="button prevPal" (click)="prevPal()"></span>
      <span class="button nextPal" (click)="nextPal()"></span>
      <span class="button lastPal" (click)="lastPal()"></span>
    </div>
  </div>
</div>
<button (click)="savePalette()">Save</button>
