.dragon-drop {
  max-width: 500px;
  padding: 30px 0;
  border: 2px solid #eeeeee;
  text-align: center;
  transition: background-color 0.3s ease-in-out 0s;
}

.dragon-drop.dragover {
  background-color: #FFFFAA;
}

.palmain, .palrow {
  display: flex;
}

.palcolour {
  display: flex;
  width: 32px;
  height: 32px;
  font-size: 10px;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.firstPal::before {
  content: "«";
}

.prevPal::before {
  content: "<";
}

.nextPal::before {
  content: ">";
}

.lastPal::before {
  content: "»";
}

.palIndexInput {
  width: 2rem;
}