.gradient {
  height: 30px;
  border: 1px solid black;
  position: relative;
  overflow: visible;
}

@keyframes stopSelected {
  from {
    background-color: #fff;
    border-color: #000;
  }
  to {
    background-color: #000;
    border-color: #fff;
  }
}

.gradient-stop {
  position: absolute;
  top: 0;
  cursor: pointer;
  width: .5%;
  height: 100%;
  border-width: 1px;
  border-style: dotted;
  border-color: #000;
  background-color: #fff;
}
.gradient-stop.selected {
  animation: .3s ease-in-out 0s infinite alternate forwards running stopSelected;
}
