.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal {
  max-height: 65%;
  max-width: 75%;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 7px;
  padding: 7px;
}

.modal-closer {
  display: flex;
  justify-content: center;
  margin: .5rem;
}

.modal-closer > span.button {
  width: 5rem;
  height: 2rem;
}
