/* Base styles */

html { font-size: 12px; }
* { box-sizing: border-box; }
h1 { font-size: 2rem; margin: .75rem 0; }
h2 { font-size: 1.5rem; margin: .5rem 0; }
h3 { font-size: 1.25rem; margin: .5rem 0; }
p { font-size: 1rem; margin: .5rem 0; }
i { font-style: italic; }

/* Paledit styles */

.button {
  border: 1px solid black;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
  min-width: 20px;
  min-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background-color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #eee;
}

.button:active {
  background-color: #ccc;
}

.widget {
  border: 1px solid #000;
  border-radius: 7px;
}

.widget > h3:first-child {
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0;
  padding: .5rem 0;
}

.narrowInput {
  width: 4rem;
}

.colourPick {
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
  user-select: none;
  vertical-align: middle;
  cursor: pointer;
}

a[download] {
  color: inherit;
  text-decoration: none;
}

label > * {
  vertical-align: middle;
}

.importer {
  display: none;
}
