/* You can add global styles to this file, and also import other style files */

* { box-sizing: border-box; }

.button {
  border: 1px solid black;
  border-radius: 8px;
  margin: 2px;
  min-width: 20px;
  min-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background-color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #eee;
}

.button:active {
  background-color: #ccc;
}

.widget {
  border: 1px solid #000;
  border-radius: 7px;
}

.widget > h3:first-child {
  text-align: center;
  border-bottom: 1px solid black;
}

.narrowInput {
  width: 4rem;
}
