/* You can add global styles to this file, and also import other style files */

.button {
  border: 1px solid black;
  border-radius: 6px;
  margin: 2px;
  min-width: 20px;
  min-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}