<div class="dragon-drop"
    (dragenter)="handleDragEnter($event)"
    (dragover)="handleDragOver($event)"
    (drop)="dropPalette($event)">
  <label>
    <div>Select a PLAYPAL, or drag and drop one here.</div>
    <div>
      <input type="file" (change)="selectPalette($event)">
    </div>
  </label>
</div>
<div class="palindex" *ngIf="collection">
  Palette {{colPalIndex + 1}}/{{collection.palettes.length}}
</div>
<div class="palmain">
  <div class="palette">
    <div *ngFor="let colour of palColours; let idx = index"
         class="palcolour" [ngStyle]="colour.getStyles()">
      #{{idx}}
    </div>
  </div>
  <div class="ranges">
    Range list
  </div>
</div>