<div class="widget">
  <h3>Palette operations</h3>
  <div *ngIf="palOp.selectionRange">
    <span class="button" (click)="palOp.reverse()">Reverse Selection</span>
  </div>
  <div class="">
    <span class="button" (click)="tint(tintPct.value)">Tint:</span>
    <span [(colorPicker)]="tintColour" cpPosition="bottom" class="colourPick widget" [style.background-color]="tintColour"></span>
    %<input class="narrowInput widget" type="number" step=".1" min="0" max="100" value="0" #tintPct>
  </div>
  <div class="">
    <span class="button" (click)="colourize()">Colourize:</span>
    <span [(colorPicker)]="colourizeColour" cpPosition="bottom" class="colourPick widget" [style.background-color]="colourizeColour"></span>
    <label>Hue <input [(ngModel)]="colourizeUse.hue" type="checkbox" checked></label>
    <label>Sat <input [(ngModel)]="colourizeUse.saturation" type="checkbox" checked></label>
    <label>Val <input [(ngModel)]="colourizeUse.value" type="checkbox"></label>
  </div>
  <div class="">
    <span class="button" (click)="saturate(saturateAmt.value)">Saturate:</span>
    %<input class="narrowInput widget" type="number" step=".1" min="-100" max="100" value="0" #saturateAmt>
  </div>
  <div class="">
    <span class="button" (click)="hueShift(hueShiftAmt.value)">Shift hue:</span>
    <input class="narrowInput widget" type="number" step="1" min="-360" max="360" value="0" #hueShiftAmt>
    degrees
  </div>
</div>
